.book-item {
  background-color: var(--card-bg);
  color: var(--text-color);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 18rem;
  height: 100%;
  margin: auto;
  padding: 1rem;
  box-shadow: var(--box-shadow);

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }

  .card-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .book-cover-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

}

.card, .book-item {
  background-color: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--card-border);
  border-radius: 8px;

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}

.fa-trash, .fa-pen-to-square {
  color: var(--icon-color);
}

.fa-trash:hover, .fa-pen-to-square:hover {
  color: var(--btn-primary-bg);
  cursor: pointer;
}

@media (max-width: 768px) {
  .book-item {
    max-width: 100%;
    padding: 1rem;
  }

  .book-cover-img {
    height: 200px;
  }
}
