<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100" style="max-width: 400px;">
  <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
    <h4 class="mb-4 text-center">Log in to BookApp</h4>
    <form (ngSubmit)="login()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input 
            type="text" 
            id="username" 
            class="form-control mb-2" 
            [(ngModel)]="username" 
            name="username" 
            required 
            placeholder="Enter your username"
            />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input 
            type="password" 
            id="password" 
            class="form-control mb-2" 
            [(ngModel)]="password" 
            name="password" 
            required 
            placeholder="Enter your password"
            />
        </div>
        <button type="submit" class="btn btn-primary w-100">Log in</button>
        <div *ngIf="loginError" class="text-danger mt-2">Invalid credentials. Please try again.</div>
      </form>
  </div>
    
</div>
