.quotes-container {
  background-color: var(--bg-color);
  min-height: 100vh;
  height: 100%;
}

.quote {
  background-color: var(--card-bg); 
  color: var(--text-color);
  border-left: 8px solid var(--card-border);
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: var(--border-radius);
  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}


  
  